.example{
  background:aqua;
  text-align: left;
  max-width: 70%;
  max-height: 30%;
  margin: 1.5rem 5rem;
  font-size: 1.5rem;
  padding:0.3rem ;
  font-family:'Trebuchet MS', 'Lucida  Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
